In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('wikipedia_dataset_flat.xlsx')

In [ ]:
df

In [ ]:
df.isnull().sum().sort_values(ascending=False)
#/len(df) (if you want percentage)

In [ ]:
missing_values = df.loc[df['visits'].isnull()]
missing_values

In [ ]:
df_clean = df.fillna(0)
df_clean

In [ ]:
df_clean.isnull().sum().sort_values(ascending=False)

In [ ]:
df_clean = df.drop_duplicates()
df_clean

In [ ]:
maxVisits = df_clean['visits'].max()
maxVisits

In [ ]:
df['visits'].idxmax()

In [ ]:
df.iloc[311412,:]

In [25]:
minVisits = df['visits'].min()
#maxValues = df.idxmax(axis=1)
minVisits

1.0

In [46]:
df['visits'].idxmin()

66038

In [ ]:
df.iloc[66038,:]

In [ ]:
df_clean.dtypes

In [ ]:
df_clean.sort_values(by=['date', 'visits'])
df_clean

In [ ]:
New_year_day = df_clean.query('date == "2016-01-01"')
New_year_day.sort_values(by='visits', ascending=False)

In [ ]:
MostTrending = New_year_day['visits'].max()
MostTrending

In [76]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [124]:
New_year_day.plot(x="page", y =["visits"])

In [ ]:
Cuppucino_day = df_clean.query('date == "2016-11-08"')
Cuppucino_day.sort_values(by='visits', ascending=False)

In [206]:
Mobile_device_type = df_clean.loc[df_clean['page'].str.contains ('mobile')]
Mobile_device_type.sort_values(by="visits", ascending=False)

,Unnamed: 0,date,page,visits,day,month,year,day_name
387915,387915,2016-09-15,Main_Page_en.wikipedia.org_mobile-web_all-agents,8752306.0,15,9,2016,Thursday
386415,386415,2016-09-14,Main_Page_en.wikipedia.org_mobile-web_all-agents,8011872.0,14,9,2016,Wednesday
93915,93915,2016-03-03,Main_Page_en.wikipedia.org_mobile-web_all-agents,7832778.0,3,3,2016,Thursday
272415,272415,2016-06-30,Main_Page_en.wikipedia.org_mobile-web_all-agents,7740443.0,30,6,2016,Thursday
243915,243915,2016-06-11,Main_Page_en.wikipedia.org_mobile-web_all-agents,7532163.0,11,6,2016,Saturday
...,...,...,...,...,...,...,...,...
394543,394543,2016-09-20,ã‚ªãƒŠã‚¤ã‚¦é˜¿é“_ja.wikipedia.org_mobile-web...,13.0,20,9,2016,Tuesday
457543,457543,2016-11-01,ã‚ªãƒŠã‚¤ã‚¦é˜¿é“_ja.wikipedia.org_mobile-web...,13.0,1,11,2016,Tuesday
438043,438043,2016-10-19,ã‚ªãƒŠã‚¤ã‚¦é˜¿é“_ja.wikipedia.org_mobile-web...,12.0,19,10,2016,Wednesday
364543,364543,2016-08-31,ã‚ªãƒŠã‚¤ã‚¦é˜¿é“_ja.wikipedia.org_mobile-web...,11.0,31,8,2016,Wednesday
450043,450043,2016-10-27,ã‚ªãƒŠã‚¤ã‚¦é˜¿é“_ja.wikipedia.org_mobile-web...,11.0,27,10,2016,Thursday

In [207]:
Desktop_device_type = df_clean.loc[df_clean['page'].str.contains ('desktop')]
Desktop_device_type.sort_values(by="visits", ascending=False)

,Unnamed: 0,date,page,visits,day,month,year,day_name
311414,311414,2016-07-26,Main_Page_en.wikipedia.org_desktop_all-agents,62288712.0,26,7,2016,Tuesday
309914,309914,2016-07-25,Main_Page_en.wikipedia.org_desktop_all-agents,62174277.0,25,7,2016,Monday
320414,320414,2016-08-01,Main_Page_en.wikipedia.org_desktop_all-agents,61194103.0,1,8,2016,Monday
312914,312914,2016-07-27,Main_Page_en.wikipedia.org_desktop_all-agents,60219138.0,27,7,2016,Wednesday
314414,314414,2016-07-28,Main_Page_en.wikipedia.org_desktop_all-agents,59441638.0,28,7,2016,Thursday
...,...,...,...,...,...,...,...,...
542919,542919,2016-12-27,User:GoogleAnalitycsRoman/google-api_en.wikipe...,NaN,27,12,2016,Tuesday
544419,544419,2016-12-28,User:GoogleAnalitycsRoman/google-api_en.wikipe...,NaN,28,12,2016,Wednesday
545919,545919,2016-12-29,User:GoogleAnalitycsRoman/google-api_en.wikipe...,NaN,29,12,2016,Thursday
547419,547419,2016-12-30,User:GoogleAnalitycsRoman/google-api_en.wikipe...,NaN,30,12,2016,Friday
548919,548919,2016-12-31,User:GoogleAnalitycsRoman/google-api_en.wikipe...,NaN,31,12,2016,Saturday

In [ ]:
Others = df_clean.loc[df_clean['page'].str.contains ('access')]
Others.sort_values(by="visits", ascending=False)

In [ ]:
df_clean

In [ ]:
df_clean['day'] = df_clean['date'].dt.day
df_clean['month'] = df_clean['date'].dt.month
df_clean['year'] = df_clean['date'].dt.year
df_clean['day_name'] = df_clean['date'].dt.day_name()
df_clean.sort_values(by='visits', ascending= True).head(10)

In [ ]:
df_clean

In [212]:
MostPopular =  df_clean[['day_name', 'visits']]
MostPopular.sort_values(by="visits", ascending = False).head(14)

         day_name      visits
311412    Tuesday  67264258.0
309912     Monday  67122896.0
320412     Monday  66131225.0
312912  Wednesday  65155635.0
314412   Thursday  64355899.0
321912    Tuesday  63079604.0
341412     Monday  63052818.0
311414    Tuesday  62288712.0
318912     Sunday  62260676.0
309914     Monday  62174277.0
308412     Sunday  62089436.0
320414     Monday  61194103.0
333912  Wednesday  60968723.0
315912     Friday  60733892.0

In [188]:
MostPopular.plot(x="day_name", y =["visits"])

In [ ]:
LeastPopular =  df_clean[['day_name', 'visits']]
LeastPopular.sort_values(by="visits", ascending = True).head(14)

In [200]:
least = LeastPopular
least.sort_values(by='visits', ascending=True).head(10)

         day_name  visits
66038      Sunday     1.0
365121  Wednesday     2.0
139538     Sunday     2.0
179121     Friday     2.0
509061     Monday     2.0
159621   Saturday     2.0
487214     Sunday     2.0
510561    Tuesday     2.0
522561  Wednesday     3.0
180038   Saturday     3.0

In [199]:
least.plot(x="day_name", y =["visits"])

In [ ]:
Langu = df_clean.loc[df_clean['page'].str.contains ('fr')]
Langu.sort_values(by="visits", ascending=False)

In [ ]:
cats = np.array(['decline', '------', 'increase'])
df_clean.assign(
    change=cats[np.sign(np.append(0, np.diff(df_clean.visits.values, 1)) ).astype(np.uint8) + 1]
    )

In [ ]:
Desktop_device_type = df_clean.loc[df_clean['page'].str.contains ('desktop')]
Desktop_device_type.sort_values(by="visits", ascending=False)

In [177]:
Dec = df_clean[['page','visits']]
Dec

                                                     page   visits
0             .xxx_en.wikipedia.org_all-access_all-agents   7089.0
1             .xxx_en.wikipedia.org_mobile-web_all-agents   6182.0
2             1._Juli_de.wikipedia.org_desktop_all-agents     20.0
3       2014_FIFA_World_Cup_en.wikipedia.org_all-acces...   5363.0
4       2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...   3186.0
...                                                   ...      ...
548995   Zac_Efron_en.wikipedia.org_all-access_all-agents  13146.0
548996  Zayn_Malik_en.wikipedia.org_all-access_all-agents  12597.0
548997     Zendaya_en.wikipedia.org_all-access_all-agents   6217.0
548998     Zendaya_en.wikipedia.org_mobile-web_all-agents   4650.0
548999  Zodiac_Killer_en.wikipedia.org_all-access_all-...   6659.0

[549000 rows x 2 columns]

In [ ]:
PageNo = Dec['page'].value_counts()
PageNo

In [ ]:
'''connection = sqlite3.connect("wiki.db")
cursor = connection.cursor()
connection.commit()
'''

In [97]:
'''class DBConnection:

    def __init__(self, dbpath):
        self.connection = sqlite3.connect(dbpath)
        self.cursor = self.connection.cursor()

    def create_table(self, query):
        self.cursor.execute(query)

def main():
    dbpath = f"./wiki.db"
    sql_create_fits_table = """
        CREATE TABLE IF NOT EXISTS wiki_main(
            id integer auto increment PRIMARY KEY,
                 Date DATE,
                 Pages TEXT,
                Visits INTEGER NOT NULL
            
        ); """
    connection = DBConnection(dbpath)
    connection.create_table(sql_create_fits_table)

if __name__ == '__main__':
    main()
    '''

In [98]:
'''c.execute(
    """
    CREATE TABLE IF NOT EXISTS wiki_main(
            id integer auto increment PRIMARY KEY,
                 Date DATE,
                 Pages TEXT,
                Visits INTEGER NOT NULL
                ); """)
                '''